
nav {
    background-color: #7190ad;
    color: rgb(75, 185, 167);
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    min-height: 60px;  
    display: flex;
    align-items: center;
    padding: 10 20px;
    z-index: 10;
}

nav .nav-logo {
    margin-right: auto; 
}

nav .nav-links {
    position: absolute;  
    left: 50%;          
    transform: translateX(-50%); 
    display: flex;
    align-items: center;
}

nav .nav-links a {
    font-size: 20px;
    margin: 0 20px;
    text-decoration: none;
    color: white;          
}




body {
    font-family: times new roman, serif;
    margin: 00px;
    padding: 0;
    padding-top: 80px;
    text-align: center;
    background-color: #bdd3b2;
}




h1 {
    margin: 40px 0;
}



.box1 {
    top: 100px;
    left: 0;
    width: 100%;
    padding: 0px;
    margin: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  
    


}

.sticky-box {
    position: sticky;
    width: 100%;
    top: 120px;
    z-index: 9

}


main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}






.box {
    width: 200px;
    height: 200px;
    background-color: #007BFF;
    color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    transition: all 0.4s ease;
    cursor: pointer;
    
}


.scale-box:hover {
    transform: scale(1.1);
    background-color: #0056b3;
   
}




footer {
    margin: 40px 0;
}